In [90]:
# importamos las librerias a utilizar
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
sns.set()
from IPython.display import clear_output

**Transformación Set de Datos Amazon:**

In [91]:
df_amazon = pd.read_csv("..//MLOpsReviews/amazon_prime_titles.csv", sep=',' , header=0)
df_amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
dtypes: int64(1), object(11)
memory usage: 906.5+ KB

1. Generar campo id: Cada id se compondrá de la primera letra del nombre de la plataforma, seguido del show_id ya presente en los datasets (ejemplo para títulos de Amazon = as123)

In [92]:
# Función lambda para agregar un caracter al inicio de cada valor en la columna 'Col1'
add_char = lambda x: 'a' + x

# Aplicamos la función a la columna 'Col1' usando el método apply()
df_amazon['show_id'] = df_amazon['show_id'].apply(add_char)

In [93]:
# Imprimimos el DataFrame resultante
df_amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,as1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,as2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,as3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,as4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,as5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

2. Los valores nulos del campo rating deberán reemplazarse por el string “G” (corresponde al maturity rating: “general for all audiences”

In [94]:
df_amazon['rating'] = df_amazon['rating'].fillna("G")

In [95]:
count_df = df_amazon['rating'].value_counts().reset_index()
count_df

       index  rating
0        13+    2117
1        16+    1547
2        ALL    1268
3        18+    1243
4          R    1010
5          G     430
6      PG-13     393
7         7+     385
8         PG     253
9         NR     223
10     TV-14     208
11     TV-PG     169
12     TV-NR     105
13      TV-G      81
14     TV-MA      77
15      TV-Y      74
16     TV-Y7      39
17   UNRATED      33
18     NC-17       3
19  AGES_18_       3
20  NOT_RATE       3
21  AGES_16_       2
22        16       1
23  ALL_AGES       1

3. De haber fechas, deberán tener el formato AAAA-mm-dd

In [96]:
df_amazon['date_added'] = pd.to_datetime(df_amazon['date_added'])
df_amazon['date_added'] = df_amazon['date_added'].dt.strftime('%Y-%m-%d')
df_amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,as1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,2021-03-30,2014,G,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,as2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,2021-03-30,2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,as3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,2021-03-30,2017,G,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,as4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,2021-03-30,2014,G,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,as5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,2021-03-30,1989,G,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

4. Los campos de texto deberán estar en minúsculas, sin excepciones

In [97]:
# Aplicamos la función str.lower() a todos los valores del DataFrame utilizando el método applymap()
df_amazon = df_amazon.applymap(lambda x: x.lower() if type(x) == str else x)
df_amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...
1,as2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...
2,as3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...
3,as4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ..."
4,as5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...

5. El campo duration debe convertirse en dos campos: duration_int y duration_type. El primero será un integer y el segundo un string indicando la unidad de medición de duración: min (minutos) o season (temporadas)

Nota: 'str.extract()' se usa para extraer la cantidad de tiempo y la unidad de tiempo en dos columnas diferentes ('duration_int', 'duration_type'), utilizando una expresión regular que coincide con uno o más dígitos (\d+) seguidos de uno o más caracteres alfabéticos (\w+).

In [98]:
# Utilizamos str.extract() para separar la cantidad de tiempo y la unidad de tiempo en dos columnas diferentes
df_amazon[['duration_int', 'duration_type']] = df_amazon['duration'].str.extract('(\d+) (\w+)')
df_amazon['duration_int'] = pd.to_numeric(df_amazon['duration_int'])
df_amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,duration_int,duration_type
0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,113,min
1,as2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,110,min
2,as3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,74,min
3,as4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ...",69,min
4,as5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...,45,min

In [99]:
df_amazon.to_csv('TAmazon.csv', index=False)

Se repitira el mismo proceso para Disney,  Hulu y Netflix

**Transformación Set de Datos Disney Plus:**

In [100]:
df_disney = pd.read_csv("..//MLOpsReviews/disney_plus_titles.csv", sep=',' , header=0)
df_disney.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
dtypes: int64(1), object(11)
memory usage: 136.1+ KB

In [101]:
# Función lambda para agregar un caracter al inicio de cada valor en la columna 'Col1'
add_char = lambda x: 'd' + x

# Aplicamos la función a la columna 'Col1' usando el método apply()
df_disney['show_id'] = df_disney['show_id'].apply(add_char)


df_disney['rating'] = df_disney['rating'].fillna("G")

df_disney['date_added'] = pd.to_datetime(df_disney['date_added'])
df_disney['date_added'] = df_disney['date_added'].dt.strftime('%Y-%m-%d')


df_disney = df_disney.applymap(lambda x: x.lower() if type(x) == str else x)

df_disney[['duration_int', 'duration_type']] = df_disney['duration'].str.extract('(\d+) (\w+)')
df_disney['duration_int'] = pd.to_numeric(df_disney['duration_int'])

In [102]:
df_disney.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,duration_int,duration_type
0,ds1,movie,duck the halls: a mickey mouse christmas special,"alonso ramirez ramos, dave wasson","chris diamantopoulos, tony anselmo, tress macn...",NaN,2021-11-26,2016,tv-g,23 min,"animation, family",join mickey and the gang as they duck the halls!,23,min
1,ds2,movie,ernest saves christmas,john cherry,"jim varney, noelle parker, douglas seale",NaN,2021-11-26,1988,pg,91 min,comedy,santa claus passes his magic bag to a new st. ...,91,min
2,ds3,movie,ice age: a mammoth christmas,karen disher,"raymond albert romano, john leguizamo, denis l...",united states,2021-11-26,2011,tv-g,23 min,"animation, comedy, family",sid the sloth is on santa's naughty list.,23,min
3,ds4,movie,the queen family singalong,hamish hamilton,"darren criss, adam lambert, derek hough, alexa...",NaN,2021-11-26,2021,tv-pg,41 min,musical,"this is real life, not just fantasy!",41,min
4,ds5,tv show,the beatles: get back,NaN,"john lennon, paul mccartney, george harrison, ...",NaN,2021-11-25,2021,g,1 season,"docuseries, historical, music",a three-part documentary from peter jackson ca...,1,season

In [103]:
df_disney.to_csv('TDisney.csv', index=False)

**Transformación Set de Datos Hulu:**

In [104]:
df_hulu = pd.read_csv("..//MLOpsReviews/hulu_titles.csv", sep=',' , header=0)
df_hulu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 288.2+ KB

In [105]:
# Función lambda para agregar un caracter al inicio de cada valor en la columna 'Col1'
add_char = lambda x: 'h' + x

# Aplicamos la función a la columna 'Col1' usando el método apply()
df_hulu['show_id'] = df_hulu['show_id'].apply(add_char)


df_hulu['rating'] = df_hulu['rating'].fillna("G")

df_hulu['date_added'] = pd.to_datetime(df_hulu['date_added'])
df_hulu['date_added'] = df_hulu['date_added'].dt.strftime('%Y-%m-%d')


df_hulu = df_hulu.applymap(lambda x: x.lower() if type(x) == str else x)

df_hulu[['duration_int', 'duration_type']] = df_hulu['duration'].str.extract('(\d+) (\w+)')
df_hulu['duration_int'] = pd.to_numeric(df_hulu['duration_int'])

df_hulu.to_csv('THulu.csv', index=False)

**Transformación Set de Datos Netflix:**

In [106]:
df_netflix = pd.read_csv("..//MLOpsReviews/netflix_titles.csv", sep=',' , header=0)
df_netflix.info()

# Función lambda para agregar un caracter al inicio de cada valor en la columna 'Col1'
add_char = lambda x: 'n' + x

# Aplicamos la función a la columna 'Col1' usando el método apply()
df_netflix['show_id'] = df_netflix['show_id'].apply(add_char)


df_netflix['rating'] = df_netflix['rating'].fillna("G")

df_netflix['date_added'] = pd.to_datetime(df_netflix['date_added'])
df_netflix['date_added'] = df_netflix['date_added'].dt.strftime('%Y-%m-%d')


df_netflix = df_netflix.applymap(lambda x: x.lower() if type(x) == str else x)

df_netflix[['duration_int', 'duration_type']] = df_netflix['duration'].str.extract('(\d+) (\w+)')
df_netflix['duration_int'] = pd.to_numeric(df_netflix['duration_int'])

df_netflix.to_csv('TNetflix.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

El resultado de todos estos archivos lo integrare en uno solo para facilitar el proceso de aquí en adelante:

In [107]:
# Unir los dos DataFrames
df_general = pd.concat([df_amazon, df_hulu, df_disney, df_netflix])

# Guardar el resultado en un nuevo archivo CSV
df_general.to_csv('ConsolidadoGeneral.csv', index=False)

**Análisis de archivos en la carpeta Raitngs:** 

Al revisar aleatoriamente los datos en varios, se evidencia que tienen las mismas columnas. También se procede a integrarlos en un solo Data Frame.

In [112]:
df_1 = pd.read_csv("..//MLOpsReviews/ratings/1.csv", sep=',' , header=0)
df_2 = pd.read_csv("..//MLOpsReviews/ratings/2.csv", sep=',' , header=0)
df_3 = pd.read_csv("..//MLOpsReviews/ratings/3.csv", sep=',' , header=0)
df_4 = pd.read_csv("..//MLOpsReviews/ratings/4.csv", sep=',' , header=0)
df_5 = pd.read_csv("..//MLOpsReviews/ratings/5.csv", sep=',' , header=0)
df_6 = pd.read_csv("..//MLOpsReviews/ratings/6.csv", sep=',' , header=0)
df_7 = pd.read_csv("..//MLOpsReviews/ratings/7.csv", sep=',' , header=0)
df_8 = pd.read_csv("..//MLOpsReviews/ratings/8.csv", sep=',' , header=0)

In [113]:
df_general1 = pd.concat([df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8])
df_general1.to_csv('Ratings.csv', index=False)

In [115]:
df_general.shape

(22998, 14)

In [114]:
df_general1.shape

(11024289, 4)